In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.rand(31))

In [3]:
type(ser)

pandas.core.series.Series

In [4]:
new_def = pd.DataFrame(np.random.rand(331,5), index = np.arange(331))

In [5]:
type(new_def)

pandas.core.frame.DataFrame

In [6]:
new_def.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [7]:
new_def.describe()

                0           1           2           3           4
count  331.000000  331.000000  331.000000  331.000000  331.000000
mean     0.505264    0.485586    0.498871    0.505823    0.513364
std      0.286429    0.292259    0.282231    0.299413    0.294333
min      0.005414    0.001427    0.005929    0.000345    0.007353
25%      0.253272    0.216587    0.251805    0.239807    0.252842
50%      0.522251    0.493906    0.521298    0.518291    0.495361
75%      0.753541    0.731499    0.711532    0.771289    0.798266
max      0.996936    0.999011    0.993969    0.999519    0.995085

In [8]:
new_def[0][0] = 'Shre'

C:\Users\Shre\AppData\Local\Temp\ipykernel_19884\3815652062.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  new_def[0][0] = 'Shre'
C:\Users\Shre\AppData\Local\Temp\ipykernel_19884\3815652062.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Shre' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  new_def[0][0] = 'Shre'

In [9]:
new_def.head()

          0         1         2         3         4
0      Shre  0.559690  0.157679  0.604920  0.112644
1  0.977775  0.944138  0.420820  0.591445  0.722683
2  0.523594  0.652764  0.974677  0.235861  0.655641
3  0.327271  0.253712  0.552220  0.000345  0.830556
4  0.238819  0.381729  0.248632  0.534604  0.586860

In [10]:
new_def.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [11]:
new_def.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       321, 322, 323, 324, 325, 326, 327, 328, 329, 330],
      dtype='int64', length=331)

In [12]:
new_def.columns

RangeIndex(start=0, stop=5, step=1)

In [13]:
new_def.to_numpy()

array([['Shre', 0.5596900789553996, 0.15767868316788602,
        0.6049197604999965, 0.11264415802431504],
       [0.977775466770218, 0.9441384949923044, 0.420819684695418,
        0.5914450240551515, 0.722683317826331],
       [0.5235940094854356, 0.6527636232150283, 0.9746774671920138,
        0.23586058615091, 0.6556405322149661],
       ...,
       [0.43447102554951345, 0.30663847195250593, 0.2661831408528592,
        0.12016125579732795, 0.2364387878457972],
       [0.7968032525580829, 0.09985926823938829, 0.666342417089087,
        0.6760891706463333, 0.20269328348845983],
       [0.7125657868453047, 0.10597296138122747, 0.6564443691446877,
        0.6888710896189962, 0.6156304874518378]],
      shape=(331, 5), dtype=object)

In [14]:
new_def[0][0] = 3.548

In [15]:
new_def.to_numpy()

array([[3.548, 0.5596900789553996, 0.15767868316788602,
        0.6049197604999965, 0.11264415802431504],
       [0.977775466770218, 0.9441384949923044, 0.420819684695418,
        0.5914450240551515, 0.722683317826331],
       [0.5235940094854356, 0.6527636232150283, 0.9746774671920138,
        0.23586058615091, 0.6556405322149661],
       ...,
       [0.43447102554951345, 0.30663847195250593, 0.2661831408528592,
        0.12016125579732795, 0.2364387878457972],
       [0.7968032525580829, 0.09985926823938829, 0.666342417089087,
        0.6760891706463333, 0.20269328348845983],
       [0.7125657868453047, 0.10597296138122747, 0.6564443691446877,
        0.6888710896189962, 0.6156304874518378]],
      shape=(331, 5), dtype=object)

In [16]:
new_def.T

,0,1,2,3,4,5,6,7,8,9,...,321,322,323,324,325,326,327,328,329,330
0,3.548,0.977775,0.523594,0.327271,0.238819,0.838961,0.477351,0.758232,0.833255,0.632214,...,0.581926,0.383311,0.047029,0.651003,0.503951,0.39747,0.762522,0.434471,0.796803,0.712566
1,0.55969,0.944138,0.652764,0.253712,0.381729,0.101433,0.218002,0.88874,0.669612,0.995779,...,0.791145,0.982079,0.337628,0.065146,0.400227,0.377596,0.727337,0.306638,0.099859,0.105973
2,0.157679,0.42082,0.974677,0.55222,0.248632,0.956421,0.442347,0.266454,0.099618,0.409527,...,0.744923,0.208104,0.345237,0.406138,0.436731,0.54773,0.371933,0.266183,0.666342,0.656444
3,0.60492,0.591445,0.235861,0.000345,0.534604,0.790577,0.232175,0.329267,0.474344,0.576621,...,0.289324,0.49702,0.624532,0.131334,0.80252,0.325573,0.796518,0.120161,0.676089,0.688871
4,0.112644,0.722683,0.655641,0.830556,0.58686,0.369359,0.05063,0.675649,0.813975,0.395485,...,0.68285,0.715598,0.955234,0.253725,0.185016,0.091854,0.112091,0.236439,0.202693,0.61563

In [17]:
new_def.head()

          0         1         2         3         4
0     3.548  0.559690  0.157679  0.604920  0.112644
1  0.977775  0.944138  0.420820  0.591445  0.722683
2  0.523594  0.652764  0.974677  0.235861  0.655641
3  0.327271  0.253712  0.552220  0.000345  0.830556
4  0.238819  0.381729  0.248632  0.534604  0.586860

In [18]:
new_def.sort_index(axis = 1, ascending = False)

            4         3         2         1         0
0    0.112644  0.604920  0.157679  0.559690     3.548
1    0.722683  0.591445  0.420820  0.944138  0.977775
2    0.655641  0.235861  0.974677  0.652764  0.523594
3    0.830556  0.000345  0.552220  0.253712  0.327271
4    0.586860  0.534604  0.248632  0.381729  0.238819
..        ...       ...       ...       ...       ...
326  0.091854  0.325573  0.547730  0.377596   0.39747
327  0.112091  0.796518  0.371933  0.727337  0.762522
328  0.236439  0.120161  0.266183  0.306638  0.434471
329  0.202693  0.676089  0.666342  0.099859  0.796803
330  0.615630  0.688871  0.656444  0.105973  0.712566

[331 rows x 5 columns]

In [19]:
new_def.head()

          0         1         2         3         4
0     3.548  0.559690  0.157679  0.604920  0.112644
1  0.977775  0.944138  0.420820  0.591445  0.722683
2  0.523594  0.652764  0.974677  0.235861  0.655641
3  0.327271  0.253712  0.552220  0.000345  0.830556
4  0.238819  0.381729  0.248632  0.534604  0.586860

In [20]:
new_def[0]

0         3.548
1      0.977775
2      0.523594
3      0.327271
4      0.238819
         ...
326     0.39747
327    0.762522
328    0.434471
329    0.796803
330    0.712566
Name: 0, Length: 331, dtype: object

In [21]:
type(new_def[0])

pandas.core.series.Series

In [22]:
new_def_2 = new_def  // Creating New VIEW OF new_def, which is new_def_2. It will change the orignal value of new_def, when new_def_2 is changed !.
// it is not copy of new_def

SyntaxError: invalid syntax (2198108035.py, line 1)

In [ ]:
new_def_2[0][0] = 0.6969

In [ ]:
new_def.head()

In [ ]:
new_def_3 = new_def.copy()

In [ ]:
new_def_3[0][0] = 0.0000

In [ ]:
new_def

In [ ]:
new_def_3

In [ ]:
new_def.loc[0,0] = 0.0000

In [ ]:
new_def.head()

In [ ]:
new_def.columns= list("ABCDE")

In [ ]:
new_def.head(2)

In [ ]:
new_def.loc[0,0] = 969696

In [ ]:
new_def.head(2)

In [ ]:
new_def.loc[0,'A'] = 6969

In [ ]:
new_def.head()

In [ ]:
new_def.drop(0,axis =1)

In [ ]:
new_def.drop('A', axis =1)  // does not remove from  the Orignal Data Fram always return the copy after applying it to data set

In [ ]:
new_def.loc[[1,2],['A','D']]

In [ ]:
new_def.loc[:,['A','D']]

In [ ]:
new_def.loc[[1,2],:]

In [ ]:
new_def.loc[(new_def['A']<0.4) & (new_def['C']>0.5)]

In [ ]:
new_def.iloc[0,4]

In [ ]:
new_def.head()

In [ ]:
new_def = new_def.drop(0, axis =1)

In [ ]:
new_def.head(5)

In [ ]:
new_def.drop('E', axis =1, inplace = True)  // Add the chnages to Orignal data Frame

In [ ]:
new_def.head(5)

In [ ]:
new_def.drop([0,5,3], axis =0, inplace = True)  // remove the columns from the Data frame axis = 0 for the column

In [ ]:
new_def.head(5)

In [ ]:
new_def.reset_index(drop = True, inplace = True )

In [ ]:
new_def.loc[:, ['A']]= 20

In [ ]:
new_def.head()

In [ ]:
new_def.iloc[:, [2]]= 21

In [ ]:
new_def.head()

In [23]:
newdict = dict(name= 'Shre', age=23, city='Delhi')
print(newdict)
print(type(newdict))
print(len(newdict)) 
print(newdict['name'])
print(newdict['age'])

{'name': 'Shre', 'age': 23, 'city': 'Delhi'}
<class 'dict'>
3
Shre
23